<table>
    <thead><tr><td>
      <div class="header-space">&nbsp;</div>
    </td></tr></thead>
    <tbody><tr><td>
      <div class="content p-4">
        <router-outlet></router-outlet>
      </div>
    </td></tr></tbody>
    <tfoot><tr><td>
      <div class="footer-space">&nbsp;</div>
    </td></tr></tfoot>
  </table>
  <div class="header"> 
     <div class="text-muted bg-dark shadow-sm text-white p-4">
        <div class="container text-white">
          
          <p class="text-white">Album example is © Bootstrap, but please download and customize it for yourself!</p>
          <p class="text-white">New to Bootstrap? or read our .</p>
        </div>
  </div>
</div>
  <div class="footer">
    <footer class="text-muted bg-dark shadow-sm text-white p-4">
      <div class="container text-white">
        <p class="text-white">Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p class="text-white">New to Bootstrap? or read our .</p>
      </div>
    </footer>
  </div>