<div class="container">
    <div class="row mb-2 box  box-shadow">
        <div class="col-md-12">
            <div class="pt-3">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-250 position-relative panel-primary">      
                    <div class=" col p-4 d-flex flex-column position-static vertical-align ">
                        <strong class="d-inline-block mb-2 text-primary">מספר סידורי : {{employee.id}} </strong>
                        <div class="panel-heading">
                            <h4 class="mb-2"> שם פרטי ומשפחה: {{employee.name }} </h4>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <h4 class="mb-2"> מין : <span class="text-muted"> {{employee.gender}}</span></h4>
                            </div>
                            <div class="col-sm-6">
                                <h4 class="mb-2"> טלפון : <span class="text-muted"> {{employee.phonenumber}}</span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h4 class="mb-2"> אי-מייל : <span class="text-muted"> {{employee.email}}</span></h4>
                            </div>
                            <div class="col-sm-6">
                                <h4 class="mb-2"> תאריך לידה : <span class="text-muted"> {{employee.dateOfBirth}}</span>
                                </h4>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-6">
                                    <h4 class="mb-2" [ngSwitch]="employee.department"> מחלקה:  
                                        <span *ngSwitchCase="1">Help Desk</span>
                                        <span *ngSwitchCase="2">HR</span>
                                        <span *ngSwitchCase="3">IT</span>
                                        <span *ngSwitchCase="4">PayRoll</span>
                                        <span *ngSwitchCase="5">Dev</span>
                                        <span *ngSwitchDefault >N/A</span>
                                    </h4>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="mb-2"> פעיל: <span class="text-muted"> {{employee.isActive}}</span></h4>
                                </div>
                            </div> -->
                        <div class="stretched-link"> עוד פרטים -> </div>
                    </div>
                </div>
                <div class="no-gutters background-white mt-4 no-border rounded max-width  ">
                    <div class="pull-left">
                        <button class="btn btn btn-info"
                          [routerLink]="['/employees',{id:employee.id,name:employee.name}]"
                          queryParamsHandling="preserve"
                         >
                         <!-- <button class="btn btn btn-info" (click)='ShowAllEmployees()'>  [queryParams]="{'newParam': 'newValue'}" -->
                        Back To List
                    </button>
                </div>
                    <div class="pull-right">
                        <button class="btn btn btn-info ml-2 my-0 my-sm-0 mr-2 pr-5 pl-5 pull-right" (click)="changeEmployeeName()"
                        type="submit">Change Employee Name</button>
                        <button [routerLink]="['/employees',{id:employee.id,name:employee.name}]"  (click)="viewNextEmployee()" class="btn btn btn-info ">
                            View Next Employee
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>