<div class="container direction-rtl">
    <div class="jumbotron  mt-5  p-md-5 text-dark box-shadow">
        <div class="col-md-12 float-none text-center mx-auto">
            <div class="lead my-3">
                <form class="form-inline">
                    <input size="60" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" id="input-search"
                        class="form-control mr-sm-0" type="text" placeholder="חפש לפי שם" aria-label="חפש לפי שם">
                    <button class="btn btn btn-info my-0 my-sm-0 mr-2 pr-5 pl-5 pull-right" (click)="clickSearchInput()"
                        type="submit">חפש לפי שם</button>

                    <button class="btn btn btn-info my-0 my-sm-0 mr-2 pr-5 pl-5 pull-right"
                        (click)="ShowAllEmployees()">כל הלקוחות</button>

                    <button class="btn btn btn-info my-0 my-sm-0 mr-2 pr-5 pl-5 pull-left"
                        (click)="clearSearchInput()">נקה</button>

                    <!-- <button class="btn btn-primary my-0 my-sm-0 mr-2 pr-5 p-2 pl-5" (click)="changeEmployeeName()">changeEmployeeName</button> -->

                </form>
            </div>
        </div>
    </div>
    <div [hidden]="buttonNext">
        <button (click)="nextEmployee()" class="btn btn-primary">View Next Employee</button>
    </div>


    <div class="row mb-2 box  box-shadow" *ngFor="let employee of employees | employeeFilter:searchTerm">
        <div class="col-md-12 pointerCursor" (click)="onClick(employee.id)">
            <app-display-employee [employee]="employee" [employeeId]="employee.id" #childComponent>
            </app-display-employee>
        </div>
    </div>


    <!-- <h1 #h1Variable></h1> 
    <div class="row mb-2 box  box-shadow" *ngFor="let employee of employees | employeeFilter:searchTerm">
        <div class="col-md-12" (click)="h1Variable.innerHTML = childComponent.getEmployeeNameAndGender()">
            <app-display-employee  [employee]="employee" [employeeId]="employee.id" #childComponent>
            </app-display-employee>
        </div>
    </div> -->

    <!-- <div class="row mb-2 box  box-shadow" *ngFor="let employee of employees | employeeFilter:searchTerm">
        <app-display-employee (notify)="handleNotify($event)" class="col-md-12" [employee]="employee" [employeeId]="employee.id"></app-display-employee>
    </div>  
  -->
    <!-- <app-display-employee class="col-md-12" [employee]="employees"></app-display-employee> -->