<div class="invoice"
     *ngFor="let invoice of invoiceIds; let i = index">
    <h1>Invoice Num. {{ invoice }}</h1>
    Amount: {{ (invoiceDetails[i] | async)?.amount }}

</div>

<div class="container  direction-ltr text-left">
    <div class="row mb-2 box  box-shadow">
        <div class="col-md-12">
            <h3 class="first">Session 2</h3>

            <p-table #dt2 [columns]="cols" [value]="cars3" [paginator]="true" [rows]="5" [totalRecords]="totalRecords3"
                [resizableColumns]="true" [rowsPerPageOptions]="[5,12,20]" dataKey="vin" [reorderableColumns]="true"
                selectionMode="multiple" [(selection)]="selectedCars2" [metaKeySelection]="true" stateStorage="session"
                [virtualScroll]="true" scrollHeight="300px" stateKey="statedemo-session">

                <ng-template pTemplate="caption">
                    <div class="ui-helper-clearfix" style="text-align: left">
                        
                        <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                            (click)="dt.exportCSV()" style="margin-right: 0.5em;"
                            class="ui-button-warning text-dark">export CSV</button>
                        <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                            (click)="exportExcel()" style="margin-right: 0.5em;"
                            class="ui-button-success text-dark">export Excel</button>

                        <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF"
                            (click)="exportPdf()" class="ui-button-warning text-dark">export Pdf</button>
                            
                        <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only"
                            (click)="printThis()" style="float:right"
                            class="ui-button-warning text-dark ml-3 mr-3">Print Table</button>

                        <button (click)="onPrintInvoice()" class="ui-button-warning text-dark ml-3 mr-3">PRINT THIS</button>

                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width:3em"></th>
                        <th style="width:3em"></th>
                        <th pReorderableColumn pResizableColumn *ngFor="let col of columns"
                            [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th style="width:5em"></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                            <input pInputText type="text"
                                (input)="dt2.filter($event.target.value, col.field, col.filterMatchMode)"
                                [value]="dt2.filters[col.field]?.value">
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                    <tr [pSelectableRow]="rowData" [pReorderableRow]="index">
                        <td class="p-0">
                            <div class="text-center">
                                <a href="#" [pRowToggler]="rowData">
                                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                </a>
                            </div>
                        </td>
                        <td class="p-0">
                            <div class="text-center">
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </div>
                        </td>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                        <td class="text-center">
                            <a href="javascript:alert('icon click');">
                                <mat-icon>poll</mat-icon>
                            </a>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                    <tr>
                        <td [attr.colspan]="columns.length + 3" @rowExpansionTrigger>
                            <div class=" ui-g ui-fluid" style="font-size:16px;padding:20px">
                                <div class="ui-g-12 ui-md-3" style="text-align:center">
                                    <img [attr.alt]="rowData.brand" src="assets/images/cars/{{rowData.brand}}.png">
                                </div>
                                <div class="ui-g-12 ui-md-9">
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            <b>Vin:</b> {{rowData.vin}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Year:</b> {{rowData.year}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Brand:</b> {{rowData.brand}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Color:</b> {{rowData.color}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br><br>
            <!-- [lazy]="true" [loading]="loading3" [immutable]=false
              (onLazyLoad)="loadCarsLazy3($event)"  -->
            <p-table [columns]="cols" [value]="cars2" [lazy]="true" (onLazyLoad)="loadCarsLazy2($event)"
                [immutable]="false" [paginator]="true" [rows]="4" [totalRecords]="totalRecords" [loading]="loading"
                [rowsPerPageOptions]="[5,12,20]">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br><br>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" onload="window.print()">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

</div>