<div class="container  direction-ltr text-left">
    <div class="row mb-2 box  box-shadow">
        <div class="col-md-12">
            <h3 class="first">Session 2</h3>
            <p-table #dt2  [columns]="cols" [value]="cars2"  [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[5,10,20]" dataKey="vin"  [reorderableColumns]="true"
                selectionMode="multiple" [(selection)]="selectedCars2" [metaKeySelection]="true" stateStorage="session"
                stateKey="statedemo-session">
                <ng-template pTemplate="header" let-columns>        
                    <tr>      
                        <th style="width:3em"> </th>
                            <th style="width:3em"> </th>                             
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" >
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th> 
                        <th style="width:5em"></th > 
                    </tr>
                    <tr>
                        <th></th>    
                        <th></th>                          
                        <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                            <input pInputText type="text"
                                (input)="dt2.filter($event.target.value, col.field, col.filterMatchMode)"
                                [value]="dt2.filters[col.field]?.value">
                        </th>
                        
                        <th></th> 
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                    <tr [pSelectableRow]="rowData">  
                        <td class="p-0">
                            <div class="text-center">
                                <a href="#" [pRowToggler]="rowData">
                                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                </a>
                            </div>
                        </td>
                          <td class="p-0">
                            <div class="text-center">
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </div>   
                        </td>  
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td> 
                            <td class="text-center">
                                <a href="javascript:alert('icon click');">
                                    <mat-icon>poll</mat-icon>
                                </a>
                            </td>                 
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns" >
                    <tr>
                        <td [attr.colspan]="columns.length + 2" @rowExpansionTrigger>
                            <div class=" ui-g ui-fluid" style="font-size:16px;padding:20px">
                                <div class="ui-g-12 ui-md-3" style="text-align:center">
                                    <img [attr.alt]="rowData.brand"
                                        src="assets/images/cars/{{rowData.brand}}.png">
                                </div>
                                <div class="ui-g-12 ui-md-9">
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            <b>Vin:</b> {{rowData.vin}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Year:</b> {{rowData.year}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Brand:</b> {{rowData.brand}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Color:</b> {{rowData.color}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <br><br>


            <div>
                <h1>12312123</h1>
            </div>
            <br>
            <p-table [value]="books" [resizableColumns]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th pResizableColumn>Name</th>
                        <th pResizableColumn>Author</th>
                        <th>Price In Dollars</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-book>
                    <tr>
                        <td>{{book.name}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.price}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <br><br><br>
            <hr>
            <p-table [value]="books" dataKey="name" editMode="row">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Editor</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="rowData">
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.name">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.name}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.author">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.author}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.price">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.price}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="text-align:center">

                            <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                                class="ui-button-info" (click)="onRowEditInit(rowData)">Edit</button>

                            <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                                class="ui-button-success" style="margin-right: .5em"
                                (click)="onRowEditSave(rowData)">Edit-Save</button>

                            <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                                class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)">Cancel</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br><br><br>
            <hr>
            <h3 class="first">Session 1</h3>
            <p-table #dt1 [columns]="cols" [value]="cars1" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[5,10,20]" dataKey="vin" [resizableColumns]="true" [reorderableColumns]="true"
                selectionMode="single" [(selection)]="selectedCar1" stateStorage="session" stateKey="statedemo-session">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style=""></th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                            pReorderableColumn>
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th style=""></th>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                            <input pInputText type="text"
                                (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)"
                                [value]="dt1.filters[col.field]?.value">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <a href="#" [pRowToggler]="rowData">
                                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a>
                        </td>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br><br><br>
            <hr>
         
        </div>
    </div>
</div>