<header class="blog-header direction-rtl">
    <div><h2>Ticks (every second) : {{ticks}}</h2></div>
    <nav class="navbar mb-0 navbar-expand-md navbar-dark fixed-top  background-cyan rounded-0 d-flex">
        <a routerLink="/employees" routerLinkActive="active" class="navbar-brand" href="#"> אתר חיפוש </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a routerLink="/employees" routerLinkActive="active" class="nav-link">עמוד חיפוש <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a routerLink="edit/0" routerLinkActive="active" class="nav-link">יצירת לקוח </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app-read-files" routerLinkActive="active" class="nav-link"> העלאת קובץ </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app-employees-table" routerLinkActive="active" class="nav-link"> Material Table  </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app-prime-table" routerLinkActive="active" class="nav-link"> Prime-ng Table  </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app-instructions" routerLinkActive="active" class="nav-link">עמוד הוראות</a>
                </li>
                <!-- <li class="nav-item">
                    <a [routerLink]="['/employees', 2]" class="nav-link">Get employeee with id 2</a>
                </li> -->
            </ul>
        </div>
    </nav>
</header>
<div class="component-page-header docs-primary-header">
    <!-- <button mat-button="" class="sidenav-toggle mat-button mat-button-base">
        <span class="mat-button-wrapper"> </span>
        <div matripple="" class="mat-button-ripple mat-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button> -->
    <h1>Main Page </h1>
</div>

<div *ngIf="showLoadingIndicator" class="loader2Wrapper">
    <div class="loader3"></div>
</div>

<div *ngIf="!showLoadingIndicator"><router-outlet ></router-outlet></div>

<router-outlet name="print"></router-outlet>

<footer class="footer background-cyan direction-rtl p-2">
    <div class="container">
        <span class="text-white text-right"> .... </span>
    </div>
</footer>