<div class="container">
    <div class="jumbotron mt-4 p-4 p-md-5 text-white rounded bg-light">
        <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"> יצירת לקוח</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="fullName"> שם מלא </label>
                        <input [(ngModel)]="fullName" name="fullName" id="fullName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email"> אימייל</label>
                        <input [(ngModel)]="email" name="email" id="email" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber"> טלפון</label>
                        <input [(ngModel)]="phoneNumber" name="phoneNumber" id="phoneNumber" type="text"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label>מין</label>
                        <div class="form-control">
                            <label class="mr-4">
                                <input type="radio" value="male" name="gender" [(ngModel)]="gender">
                                זכר
                            </label>
                            <label class="mr-4">
                                <input type="radio" value="female" name="gender" [(ngModel)]="gender">
                                נקבה
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="form-control">
                            <label class=" ">
                                <input type="checkbox" name="isActive" [(ngModel)]="isActive">
                                פעיל
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="checkbox-inline" for="department">Department</label>
                            <select id="department" name="department" [(ngModel)]="department" class="form-control">
                                <!-- <option class="1">Help Desk</option>
                                <option class="2"> HR </option>
                                <option class="3"> IT </option>
                                <option class="4"> Parol </option> -->
                                <option *ngFor="let dept of departments" [value]="dept.name" [id]="dept.name">
                                    {{dept.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="dateOfBirth"> תאריך לידה</label>
                            <input [(ngModel)]="dateOfBirth" name="dateOfBirth" bsDatepicker id="dateOfBirth" type="text"
                                autocomplete="off" class="form-control" placement="top" placeholder="בחר תאריך"
                                [bsConfig]="datePickerConfig">
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-footer col-md-6 text-right">
                            <button class="btn btn btn-info pr-4 pl-4" type="submit">שמור</button>
                        </div>
                        <div class="panel-footer col-md-6 text-left">
                            <button (click)="clearSearchInput()" class="btn btn btn-info  pr-4 pl-4" type="submit">נקה</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <label class="text-dark float-left text-left"> Angular Generated Form model :
            {{ employeeForm.value | json }}</label>
    </div>
</div>